ssh/*
vim/.vim/tmp/backup/*
!vim/.vim/tmp/backup/.gitignore
vim/.vim/tmp/swap/*
!vim/.vim/tmp/swap/.gitignore
vim/.vim/tmp/undo/*
!vim/.vim/tmp/undo/.gitignore
vim/.vim/.VimballRecord
vim/.vim/.netrwhist
zsh/.zsh/cache/*
